#scrollUp {
  bottom: 60px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: rgba(68, 68, 68, 0.6);

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
    width: 2px;
    height: 15px;
    transform: rotate(35deg);
    background: $white;
  }

  &::before {
    transform: rotate(-35deg);
    margin-left: 3px;
  }
}
